{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Drip eCRM Connector plugin for Craft CMS 3.x
 *
 * Drip eCRM Connector index.twig
 *
 * @author    Extreme
 * @copyright Copyright (c) 2019 Extreme
 * @link      madebyextreme.com
 * @package   Drip
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% do view.registerAssetBundle("extreme\\drip\\assetbundles\\drip\\DripAsset") %}
{% do view.registerAssetBundle("extreme\\drip\\assetbundles\\dashboardcpsection\\DashboardCPSectionAsset") %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/extreme-creations/drip/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Drip eCRM Connector | Dashboard" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('drip') %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@extreme/drip/assetbundles/dashboardcpsection/dist', true) ~ '/img/Dashboard-icon.svg' %}

{% set subnav = {
    "dashboard": { label: "Dashboard"|t('drip'), url: url(pluginCpUrl ~ '/dashboard') },
    "settings": { label: "Settings"|t('drip'), url: url(pluginCpUrl ~ '/settings') },

} %}
{% set selectedSubnavItem = 'dashboard' %}

{% set crumbs = [
    { label: "Drip eCRM Connector", url: url(pluginCpUrl) },
    { label: "Dashboard"|t('drip'), url: url(pluginCpUrl ~ '/dashboard') },
] %}

{# Content that should appear in the page header#}
{% set extraPageHeaderHtml %}
    <div class="buttons">
        <a href="{{ pluginCpUrl }}/settings" class="btn submit add icon">{{ "Settings"|t('drip') }}</a>
    </div>
{% endset %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "Getting started" | t('drip') }}</h2>
    <p>You will need an account at <a href="https://www.getdrip.com/">getdrip.com</a> to use this plugin.</p>
    <p>Once you have signed up the plugin can be connected to your Drip account in the
        <a href="{{ pluginCpUrl }}/settings/drip">settings</a> using the account ID and API key provided by Drip.
    </p>
    <h2>Features</h2>
    <p>The plugin can be used record events in Drip when a visitor performs certain actions.</p>
    <p>The actions available will depend on the edition of Craft you are using.</p>
    <p>Features such as the ability to record events relating to user account creation will only be available if you are using Craft Pro edition.</p>
    <p>If you are using Freeform plugin additional form events can also be tracked.</p>
{% endset %}
